<footer id="footer" class="inverted">
    <div class="footer-content">
        <div class="container">
            <div class="row gap-y">
                <div class="col-md-6 col-xl-4">
                    <p>
                        <img class="img-fluid" src="{{ 'assets/images/logobis.png'|theme}}"
                            alt="PT Bhineka Inti Sertifikasi">
                    </p>
                    <p>To design is to discover relationships and to make arrangements and rearrangements among these
                        ingredients.</p>
                </div>
                <div class="col-lg-4  col-lg-2 col-md-4">
                    <div class="widget  widget-contact-us"
                        style="background-image: url('{{ 'assets/images/world-map-dark.png'|theme }}'); background-position: 50% 20px; background-repeat: no-repeat">
                        <h4>Alamat</h4>
                        <ul class="list-icon">
                            <li><i class="fa fa-map-marker-alt"></i>
                                Jalan Harapan No 04 RT 01 RW 06 <br />
                                <span class="pl-2">Kedung Badak Baru, Tanah Sereal,</span> <br />
                                <span class="pl-2">Kota Bogor</span>
                            </li>
                            <li><i class="far fa-envelope"></i> <a
                                    href="mailto:bhinekasertifikasi@gmail.com">bhinekasertifikasi@gmail.com</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-3">
                    <div class="widget">
                        <h4>SERVICES</h4>
                        <ul class="list">
                            <li><a href="/services/svlk">SVLK</a></li>
                            <li><a href="/services/v-legal">Penerbitan Dok. V-Legal</a></li>
                            <li><a href="/services/other">Lain-lain</a></li>
                        </ul>
                        <h4>KETIDAKBERPIHAKAN</h4>
                        <ul class="list">
                            <li><a href="/ketidakberpihakan/komitmen-impartial">Komitmen Impartial</a></li>
                            <li><a href="/ketidakberpihakan/keluhan-dan-banding">Keluhan dan Banding</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2021 PT Bhineka Inti Sertifikasi.
                All Rights Reserved.</div>
        </div>
    </div>
</footer>