<div id="mainMenu" class="menu-rounded light">
    <div class="container">
        <nav>
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li class="dropdown"> <a href="#">Profile</a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/about">Profile Perusahaan</a></li>
                        <li><a href="/profile/visi-misi">Visi Misi</a></li>
                        <li><a href="/profile/struktur-perusahaan">Struktur Perusahaan</a></li>
                        <li><a href="/profile/kebijakan-manajemen">Kebijakan Manajemen</a></li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#">Services</a>
                    <ul class="dropdown-menu">
                        <li><a href="/services/svlk">SVLK</a></li>
                        <li><a href="/services/v-legal">Penerbitan Dok. V-Legal</a></li>
                        <li><a href="/services/other">Lain-lain</a></li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#">Information</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu"><a href="#">SVLK</a>
                            <ul class="dropdown-menu">
                                <li><a href="/info/rencana-svlk">Rencana</a> </li>
                                <li><a href="/info/keputusan-svlk">Keputusan</a> </li>
                                <li><a href="/info/resume-svlk">Resume</a> </li>
                            </ul>
                        </li>
                        <li><a href="/info/other">Lain-lain</a></li>
                    </ul>
                </li>
                <li><a href="/events">Events</a></li>
                <li class="dropdown"> <a href="#">Ketidakberpihakan</a>
                    <ul class="dropdown-menu">
                        <li><a href="/ketidakberpihakan/komitmen-impartial">Komitmen Impartial</a></li>
                        <li><a href="/ketidakberpihakan/keluhan-dan-banding">Keluhan dan Banding</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>