<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-height-xs="360">
    <!-- Slide 1 -->
    <div class="slide" data-bg-image="{{ 'assets/images/background1.jpeg'|theme }}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-light">
                <!-- Captions -->
                <h1 data-animate="fadeInUp" data-animate-delay="600">PT Bhineka Inti Sertifikasi</h1>
                <h4 data-animate="fadeInUp" data-animate-delay="800" class="mb-3">
                    PT Bhineka Inti Sertifikasi merupakan perusahaan swasta nasional berbadan hukum berbentuk
                    “Perseroan”, yang didirikan melalui akte Notaris Mulhendris, S.H, CN, No. 02 tanggal 18 Mei 2019 dan
                    telah disahkan oleh
                    Menteri Hukum dan HAM pada tanggal 24 Mei 2019, nomor AHU-0026401.AH.01.01.TAHUN 2019
                </h4>
                <a data-animate="fadeInUp" data-animate-delay="900"
                    class="btn btn-lg text-dark btn-rounded btn-primary">Discover
                    More</a>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
    <!-- Slide 2 -->
    <div class="slide" data-bg-image="{{ 'assets/images/background2.jpeg'|theme }}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-light">
                <!-- Captions -->
                <h1 data-animate="fadeInUp" data-animate-delay="600">PT Bhineka Inti Sertifikasi</h1>
                <h4 data-animate="fadeInUp" data-animate-delay="800" class="mb-3">
                    PT Bhineka Inti Sertifikasi merupakan perusahaan swasta nasional berbadan hukum berbentuk
                    “Perseroan”, yang didirikan melalui akte Notaris Mulhendris, S.H, CN, No. 02 tanggal 18 Mei 2019 dan
                    telah disahkan oleh
                    Menteri Hukum dan HAM pada tanggal 24 Mei 2019, nomor AHU-0026401.AH.01.01.TAHUN 2019
                </h4>
                <a data-animate="fadeInUp" data-animate-delay="900"
                    class="btn btn-lg text-dark btn-rounded btn-primary">Discover
                    More</a>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 2 -->
</div>