<div id="topbar" class="topbar-transparent topbar-fullwidth dark d-none d-xl-block d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="top-menu">
                    <li><a href="#">Kontak Whatsapp 0857xxxxxxxxx</a></li>
                </ul>
            </div>
            <div class="col-md-6 d-none d-sm-block">
                <ul class="top-menu text-right">
                    <li><a href="#">Kontak Whatsapp 0857xxxxxxxxx</a></li>
                </ul>
                <div class="social-icons social-icons-colored-hover">
                    <ul>
                        <li class="social-whatsapp"><a href="#"><i class="fab fa-whatsapp"></i> 085711112222</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>